* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: cornsilk;
    background-image: url(/img/rick\ and\ morty.png);
    background-attachment: fixed;  
    background-size: cover;
}

.details {
    width: 350px;
    height: 550px;
    background-color: rgb(128, 127, 126);
}


h2 {
    margin: 10px 0 10px 0;
    font-size: xx-large;
}

p {
    margin-top: 20px;
    font-size: larger;
}

img {
    margin-top: 20px;
}

button {
    height: 30px;
    width: 80px;
}

button:hover {
    cursor: pointer;  
}



